body {
    font-family: 'Lato', sans-serif;
}

html {
    background-color: #fefefe;
}

.site-wrapper {
    background: #fefefe;
}

.site-wrapper.with-bg {
    background: url(../images/bg.jpg) no-repeat center center;
}

.masthead-brand {
    font-weight: 300;

}

.masthead-brand:hover {
    cursor: pointer;
}

.masthead {
    background: #fff;
    border-bottom: 1px solid #ededed;
    padding: 10px;
    z-index: 10;
}

.fullscreen {
    min-height: 100%;
    top: 76px;
    left: 0;
    position: absolute;
    width: 100%;
}

.fullscreen-inner {
    height: 100%;
    margin: 0 !important;
}

#notifications-link {
    position: relative;
}

#notifications-link .notification-count {
    position: absolute;
    top: 6px;
    right: -13px;
    background: #c53e3e;
    font-size: 10px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    width: 15px;
    height: 14px;
    border-radius: 7px;
}

.main.slogan {
    font-size: 72px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 30px;
}

.btn-primary.home {
    background: #234431;
    font-size: 24px !important;
    border: 1px solid #fff !important;
    font-size: 24px !important;
}

.btn-primary {
    background: #296D46;
    font-size: 31px !important;
    border: 1px solid #fff !important;
    margin: 0 10px;
    padding: 7px 15px 10px 15px !important;
}

.btn-primary:hover, .btn-primary:focus {
    background: #56945e !important;
}

.btn-primary .glyphicon {
    font-size: 20px;
}

.masthead-nav li a {
    font-size: 16px;
    font-weight: 300;
}

.masthead-nav li a .glyphicon {
    font-size: 14px;
    color: #356649 !important;
}

.masthead-nav li a:hover {
    border-bottom: 1px solid #4f986d;
}

.prefix {
    line-height: 50px;
    font-size: 50px;
    margin-bottom: 30px;
}

.prefix.text-muted {
    color: rgba(86, 82, 87, 0.30);
}

.question-input, .answer-input {
    border-width: 0;
    outline: 0;
    border-bottom: 3px dashed rgba(53, 87, 54, 0.3);
    padding: 5px 0;
    margin: 10px 10px 0 10px;
    color: #356649;
    font-size: 44px;
}

#question-body {
    padding: 5px 0;
    margin: 10px 10px 0 10px;
    color: #356649;
    font-size: 44px;
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    color: rgba(86, 82, 87, 0.30);
}

.btn-skip {
    background: #9C3131;
}
.btn-skip:hover, .btn-skip:focus {
    background: #c53e3e !important;
}