body {
    font-family: 'Lato', sans-serif;
}

html {
    background-color: #fefefe;
}

.site-wrapper {
    background: #fefefe;
}

.site-wrapper.with-bg {
    background: url(../images/bg.jpg) no-repeat center center;
}

.masthead-brand:hover {
    cursor: pointer;
}

.masthead {
    background: #fff;
    border-bottom: 1px solid #ededed;
    padding: 10px;
    z-index: 10;
}

.fullscreen {
    min-height: 100%;
    top: 76px;
    left: 0;
    position: absolute;
    width: 100%;
}

.fullscreen-inner {
    height: 100%;
    margin: 0 !important;
}

#notifications-link {
    position: relative;
}

#notifications-link span {
    position: absolute;
    top: 6px;
    right: -13px;
    background: red;
    font-size: 10px;
    color: #fff;
    text-align: center;
    width: 15px;
    height: 14px;
    border-radius: 7px;
}

.main.slogan {
    font-size: 72px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 30px;
}

.btn-primary {
    background: #234431;
    font-size: 24px !important;
    border: 1px solid #fff !important;
}

.btn-primary:hover, .btn-primary:focus {
    background: #356649 !important;
}

.btn-primary .glyphicon {
    font-size: 20px;
}