{% load bootstrap3 %}

<h1 class="main">
    <label class="prefix">Recommend me:
        <input type="text" name="question" data-bind="value: questionText" placeholder="type and press Enter..." class="question-input"/>
    </label>
    <label class="small prefix">Tag your question:
        <input type="text" name="question" data-bind="value: questionTags" placeholder="enter comma-separated tag list" class="small question-input"/>
    </label>
</h1>
<div class="buttons">
    {% buttons %}
        <button type="submit" style="visibility: hidden" class="btn btn-primary btn-with-load-indicator">
            {% bootstrap_icon "ok-circle" %} send
        </button>
    {% endbuttons %}
</div>