{% load staticfiles %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}uRecommend{% endblock %}</title>

    <link href="{% static 'styles/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="screen">
    <link href="{% static 'styles/cover.css' %}" rel="stylesheet" type="text/css" media="screen">
    <link href="{% static 'styles/common.css' %}" rel="stylesheet" type="text/css" media="screen">


    {% block custom_scripts_and_style %}{% endblock %}

</head>
<body>

{% block content %}


{% endblock %}

<script type="text/javascript" src="{% static 'scripts/jquery-1.11.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/bootstrap.min.js' %}"></script>
<script src="https://cdn.firebase.com/js/client/1.1.2/firebase.js"></script>
<script type="text/javascript" src="{% static 'scripts/common.js' %}"></script>

</body>
</html>
