{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block auth_check %}
    <script src="{% static 'scripts/firebase/auth-check.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="site-wrapper">

        <div class="site-wrapper-inner">

            <div class="cover-container">

                <div class="inner cover">
                    <div class="qa-form ask">
                        <form id="ask-question-form" method="post">
                            {% csrf_token %}

                            {% include "forms/question.html" %}
                        </form>
                    </div>
                    <div class="qa-form answer">
                         <form id="answer-question-form" method="post">
                            {% csrf_token %}

                            {% include "forms/answer.html" %}
                        </form>
                    </div>
                </div>

            </div>

            <div class="dashboard-container">
                <div id="dashboard">
                    {% include "dashboard.html" %}
                </div>
            </div>

        </div>

    </div>

{% endblock %}