{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block content %}
    <div class="site-wrapper">
        <span style="background: greenyellow; padding: 10px; font-size: 30px; position: absolute"
              data-bind="text: state"></span>

        <div class="site-wrapper-inner">

            <div class="cover-container">

                <div class="masthead clearfix">
                    <h3 class="masthead-brand" data-bind="click: goToDashboard">RecommendMe</h3>
                    <ul class="nav masthead-nav">
                        <li><a href="#" data-bind="click: goToDashboard">{% bootstrap_icon "home" %}  Dashboard</a></li>
                        <li><a href="#" data-bind="click: goToTags">{% bootstrap_icon "home" %}  My tags</a></li>
                        <li><a href="#" data-bind="click: goToNotifications" id="notifications-link">{% bootstrap_icon "bell" %}  My questions
                            <span class="notification-count" data-bind="visible: unreadNotificationsCount() > 0, text: unreadNotificationsCount()"></span></a>
                        </li>
                        <li><a href="#" id="logout-link">{% bootstrap_icon "off" %} Logout</a></li>
                    </ul>
                </div>

                <div class="inner cover">
                    <div class="qa-form ask" data-bind="visible: state() == states.ASK">
                        <form id="ask-question-form" method="post" data-bind="submit: sendQuestion">
                            {% csrf_token %}

                            {% include "forms/question.html" %}
                        </form>
                    </div>
                    <div class="qa-form answer"
                         data-bind="visible: state() == states.ANS_CHOICE || state() == states.ANS_SENT || state() == states.ANS_INPUT">
                        <form id="answer-question-form" method="post" data-bind="submit: sendAnswer">
                            {% csrf_token %}

                            {% include "forms/answer.html" %}
                        </form>
                    </div>
                </div>
            </div>

            <div class="dashboard-container fullscreen" data-bind="visible: state() == states.DASH">
                <div class="fullscreen-inner">
                    {% include "dashboard.html" %}
                </div>
            </div>

            <div class="notifications-container fullscreen" data-bind="visible: state() == states.NOTIF_LIST">
                <div class="fullscreen-inner">
                    {% include "user-questions.html" %}
                </div>
            </div>

            <div class="tags-container fullscreen" data-bind="visible: state() == states.TAGS">
                <div class="fullscreen-inner">
                        <form id="add-tag-form" method="post" data-bind="submit: sendTag">
                            {% csrf_token %}

                            {% include "forms/tag.html" %}
                        </form>
                    {% include "tags.html" %}
                </div>
            </div>

        </div>

    </div>

{% endblock %}