{% extends "base.html" %}
{% load bootstrap3 %}

{% block auth_check %}{% endblock %}

{% block content %}
    <div class="site-wrapper with-bg">

        <div class="site-wrapper-inner">

            <div class="cover-container">

                <div class="inner cover">
                    <h1 class="main slogan">let us help you choose!</h1>

                    <div class="buttons">
                        <button class="btn btn-primary" id="login-btn">
                            log in with facebook
                            {% bootstrap_icon "hand-right" %}
                        </button>
                    </div>
                </div>

            </div>

        </div>

    </div>

{% endblock %}
